// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  padding: 1rem 1rem 1rem 0;
  display: table;
  border-collapse: collapse;
  margin: 0 0 0.5rem 0;
}

.post-desc {
    padding: 1rem 0 0 1rem;
    display: table-row;
    border-bottom: 2px solid;

    .post-title {
       text-align: left;
       background-color: lightgrey;
       vertical-align: top;
       margin: 1rem 0 0.5rem 0;
       padding: 0;
    }

    .post-body {
       text-align: left;
       vertical-align: top;
       margin: 0 2rem 0.25rem 2rem;
       padding:0;
    }

    .link {
       padding-top: 0.5rem;
       padding-bottom: 0.5rem;
       margin: 0 0 0 1rem;
    }
}


.comments {
  padding: 1rem 1rem 1rem 1rem;
  display: table;
  display: none;
  border: 2px solid;
  margin: 0 0 0.5rem 2rem;
}

.comment-desc {
   display: table-row;
   text-align: left;
   vertical-align: top;
   margin: 0 0 0.25rem 2rem;
   padding: 0;
}
